* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f8f8f8;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  max-width: 650px;
  padding: 20px 30px 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 60px 40px rgb(0 0 0/ 5%);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.card-title {
  font-size: 1rem;
  color: #92929f;
}

.card-toolbar {
  font-size: 1.2rem;
}

.card-toolbar:hover {
  cursor: pointer;
  color: #009ef7;
}

.field {
  border-bottom: 1px solid #f8f8f1;
  margin-bottom: 10px;
}

.parent-field {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-left: 5px;
  border-left: 1px solid #f8f8f1;
}

.children-field {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  border-left: 1px solid #f8f8f1;
}

.field-id {
  color: #92929f;
}

.field-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
}

.field-details:hover {
  background-color: #f8f8f1;
}

.field-details-left,
.field-details-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

/* .field-details-right {
  opacity: 0;
  visibility: hidden;
} */

.field:hover .field-details-right {
  opacity: 1;
  visibility: visible;
  color: #009ef7;
}

.delete-field {
  color: #f1416c;
}

.delete-field:hover {
  cursor: pointer;
}

input,
select {
  height: 25px;
  border: none;
}

select {
  padding: 2px 5px;
  background-color: #f8f8f1;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group span {
  font-size: 0.7rem;
  color: #f1416c;
}

/* for rounded switch */

.switch-componenet {
  display: flex;
  gap: 10px;
  align-items: center;
}

.switch-componenet span {
  font-size: 0.8rem;
  color: #92929f;
}

.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
